@font-face {
  font-family: Num;
  src: url("../font/num.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000011;
}
#repository {
  position: fixed;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main {
  width: 1250px;
  height: 910px;
  background: #000011;
  border: solid 2px #fafafa;
  display: flex;
}
.container main .head {
  width: 100%;
  height: 22px;
  background: #fafafa;
}
.container main .head p {
  line-height: 22px;
  text-align: center;
  color: #000;
  font-size: 14px;
}
.container main .left {
  width: 470px;
  height: 100%;
  margin: 13px 0 0 35px;
}
.container main .left .timeout {
  width: 470px;
  height: 98px;
  border: solid 2px #fafafa;
}
.container main .left .timeout .timmer p {
  line-height: calc(98px - 22px - 4px);
  text-align: center;
  color: #e47b7b;
  font-size: 38px;
  font-family: Num, sans-serif;
}
.container main .left .component {
  margin-top: 14px;
  width: 470px;
  height: 766px;
  border: solid 2px #fafafa;
}
.container main .left .component .fragments {
  width: 288px;
  height: 576px;
  margin: 18px auto 0;
  display: flex;
  flex-wrap: wrap;
}
.container main .left .component .fragments .fragment {
  width: 144px;
  height: 144px;
}
.container main .left .component .fragments .fragment .fingerprint {
  width: 122px;
  height: 122px;
  margin: 11px;
  border: solid 2px #fafafa;
  cursor: pointer;
}
.container main .right {
  flex: 1;
  height: 100%;
  margin: 13px 0 0 22px;
}
.container main .right .target {
  position: relative;
  width: 686px;
  height: 665px;
  border: solid 2px #fafafa;
}
.container main .right .target .target-fingerprint {
  margin: 36px 0 0 25px;
  width: 528px;
  height: 528px;
}
.container main .right .target .anime {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 20px;
  bottom: 8px;
}
.container main .right .decypher {
  margin-top: 18px;
  width: 686px;
  height: 195px;
  border: solid 2px #fafafa;
}
.container main .right .decypher .decypher-fingerprints {
  width: 576px;
  height: 144px;
  margin: 12px auto;
  display: flex;
}
.container main .right .decypher .decypher-fingerprints .decypher-fingerprint {
  position: relative;
  width: 144px;
  height: 144px;
}
.container main .right .decypher .decypher-fingerprints .decypher-fingerprint img {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 11px;
  left: 11px;
  border: solid 2px #383333;
}
.container main .right .decypher .decypher-fingerprints .active {
  border: solid 2px #fafafa;
}
.container main .right .decypher .decypher-fingerprints .active img {
  top: 9px;
  left: 9px;
}
