* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000011;
}
#repository {
  position: fixed;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main {
  width: 1250px;
  height: 920px;
  background: #000011;
  border: solid 2px #fafafa;
  display: flex;
}
.container main .left {
  width: 470px;
  height: 100%;
  margin: 13px 0 0 35px;
}
.container main .left .timeout {
  width: 470px;
  height: 98px;
  border: solid 2px #fafafa;
}
.container main .left .component {
  margin-top: 20px;
  width: 470px;
  height: 770px;
  border: solid 2px #fafafa;
}
.container main .right {
  flex: 1;
  height: 100%;
  margin: 13px 0 0 22px;
}
.container main .right .target {
  width: 686px;
  height: 675px;
  border: solid 2px #fafafa;
}
.container main .right .decypher {
  margin-top: 18px;
  width: 686px;
  height: 195px;
  border: solid 2px #fafafa;
}
