@main-width : 1250px;
@main-height: 920px;

@background : #000011;
@border     : solid 2px #fafafa;



* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    position  : relative;
    width     : 100%;
    height    : 100%;
    background: @background;
}

#repository {
    position: fixed;
}

.container {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    main {
        width     : @main-width;
        height    : @main-height;
        background: @background;

        border : @border;
        display: flex;

        .left {
            width : 470px;
            height: 100%;
            margin: 13px 0 0 35px;

            .timeout {
                width : 470px;
                height: 98px;
                border: @border;
            }

            .component {
                margin-top: 20px;
                width     : 470px;
                height    : 770px;
                border    : @border;
            }
        }

        .right {
            flex  : 1;
            height: 100%;
            margin: 13px 0 0 22px;

            .target {
                width : 686px;
                height: 675px;
                border: @border;
            }

            .decypher {
                margin-top: 18px;
                width     : 686px;
                height    : 195px;
                border    : @border;
            }

        }

    }

}