// 
@main-width : 1250px;
@main-height: 910px;

// 块标题高度
@head-height: 22px;

// 定义颜色
@color-background : #000011;
@color-border     :#fafafa;


// 字体
@font-face {
    font-family: Num;
    src        : url("../font/num.ttf")
}


* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    position  : relative;
    width     : 100%;
    height    : 100%;
    background: @color-background;
}

#repository {
    position: fixed;
}

.container {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    main {
        width     : @main-width;
        height    : @main-height;
        background: @color-background;

        border : solid 2px @color-border;
        display: flex;

        .head {
            width     : 100%;
            height    : @head-height;
            background: @color-border;

            p {
                line-height: 22px;
                text-align : center;
                color      : #000;
                font-size  : 14px;
            }

        }

        .left {
            width : 470px;
            height: 100%;
            margin: 13px 0 0 35px;

            .timeout {
                width : 470px;
                height: 98px;
                border: solid 2px @color-border;

                .timmer {
                    p {
                        line-height: calc(98px - @head-height - 4px);
                        text-align : center;
                        color      : #e47b7b;
                        font-size  : 38px;
                        font-family: Num, sans-serif;
                    }
                }
            }

            .component {
                margin-top: 14px;
                width     : 470px;
                height    : 766px;
                border    : solid 2px @color-border;



                .fragments {
                    width        : 288px;
                    height       : 576px;
                    margin       : 18px auto 0;
                    // background: silver;
                    display      : flex;
                    flex-wrap    : wrap;

                    .fragment {
                        width : 144px;
                        height: 144px;


                        // padding: 6px;

                        .fingerprint {
                            width : 122px;
                            height: 122px;
                            margin: 11px;
                            border: solid 2px @color-border;

                            cursor: pointer;
                        }

                    }
                }
            }
        }

        .right {
            flex  : 1;
            height: 100%;
            margin: 13px 0 0 22px;

            .target {
                width : 686px;
                height: 665px;
                border: solid 2px @color-border;

                .target-fingerprint {
                    margin: 36px 0 0 25px;
                    width : 528px;
                    height: 528px;
                }

            }

            .decypher {
                margin-top: 18px;
                width     : 686px;
                height    : 195px;
                border    : solid 2px @color-border;
            }

        }

    }

}