@font-face {
  font-family: Num;
  src: url("../font/num.ttf");
}
* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66) !important;
}
#repository {
  position: fixed;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.music {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pre {
  width: 100%;
  height: 100%;
}
.container .pre img {
  width: 100%;
  height: 100%;
}
.container main {
  width: 1250px;
  height: 910px;
  background: #000011;
  border: solid 2px #fafafa;
  display: flex;
}
.container main .head {
  width: 100%;
  height: 22px;
  background: #fafafa;
}
.container main .head p {
  line-height: 22px;
  text-align: center;
  color: #000;
  font-size: 14px;
}
.container main .invers-head {
  width: 100%;
  height: calc(22px + 2px);
  background: #000;
  border-bottom: solid 2px #fafafa;
}
.container main .invers-head p {
  line-height: 22px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.container main .left {
  width: 470px;
  height: 100%;
  margin: 13px 0 0 35px;
}
.container main .left .timeout {
  width: 470px;
  height: 98px;
  border: solid 2px #fafafa;
}
.container main .left .timeout .timmer p {
  line-height: calc(98px - 22px - 4px);
  text-align: center;
  color: #e47b7b;
  font-size: 38px;
  font-family: Num, sans-serif;
}
.container main .left .component {
  position: relative;
  width: 470px;
  height: 766px;
  margin-top: 14px;
  border: solid 2px #fafafa;
}
.container main .left .component .fragments {
  width: 288px;
  height: 576px;
  margin: 18px auto 0;
  display: flex;
  flex-wrap: wrap;
}
.container main .left .component .fragments .active img {
  border: solid 2px #fafafa !important;
}
.container main .left .component .fragments .fragment {
  width: 144px;
  height: 144px;
}
.container main .left .component .fragments .fragment:hover {
  border: solid 2px #a2a2a8;
  width: 140px;
  height: 140px;
}
.container main .left .component .fragments .fragment:hover .fingerprint {
  margin: 9px;
}
.container main .left .component .fragments .fragment .fingerprint {
  width: 118px;
  height: 118px;
  margin: 11px;
  border: solid 2px #1f221f;
  cursor: pointer;
}
.container main .left .component .countdown-div {
  position: absolute;
  width: 422px;
  height: 98px;
  left: 22px;
  bottom: 22px;
  border: solid 2px #fafafa;
}
.container main .left .component .countdown-div .area {
  width: 100%;
  height: calc(100% - 22px - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main .left .component .countdown-div .area .countdown {
  width: 354px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container main .left .component .countdown-div .area .countdown .tick {
  width: 6px;
  height: 80%;
  background: #e47b7b;
}
.container main .right {
  flex: 1;
  height: 100%;
  margin: 13px 0 0 22px;
}
.container main .right .target {
  position: relative;
  width: 686px;
  height: 665px;
  border: solid 2px #fafafa;
}
.container main .right .target .target-fingerprint {
  margin: 36px 0 0 25px;
  width: 528px;
  height: 528px;
}
.container main .right .target .access-attempts {
  position: absolute;
  width: 93px;
  height: calc(22px * 2);
  top: 58px;
  right: 18px;
  background: #fafafa;
}
.container main .right .target .access-attempts p {
  line-height: 22px;
  text-align: center;
  color: #000;
  font-size: 14px;
}
.container main .right .target .anime1 {
  position: absolute;
  width: 89px;
  height: 436px;
  top: 102px;
  right: 18px;
  border: solid 2px #fafafa;
}
.container main .right .target .anime2 {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 28px;
  bottom: 12px;
}
.container main .right .decypher {
  margin-top: 18px;
  width: 686px;
  height: 195px;
  border: solid 2px #fafafa;
}
.container main .right .decypher .decypher-fingerprints {
  width: 576px;
  height: 144px;
  margin: 12px auto;
  display: flex;
}
.container main .right .decypher .decypher-fingerprints .decypher-fingerprint {
  position: relative;
  width: 144px;
  height: 144px;
}
.container main .right .decypher .decypher-fingerprints .decypher-fingerprint img {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 11px;
  left: 11px;
  border: solid 2px #383333;
}
.container main .right .decypher .decypher-fingerprints .active {
  border: solid 2px #fafafa;
}
.container main .right .decypher .decypher-fingerprints .active img {
  top: 9px;
  left: 9px;
}
.start {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}
.start h4 {
  color: #fff;
  font-size: 50px;
  font-family: Raleway, Verdana, Arial;
  padding: 10px;
  cursor: pointer;
}
.author {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.author h4 {
  color: #fff;
  font-size: 50px;
  font-family: Raleway, Verdana, Arial;
  padding: 10px;
  cursor: pointer;
}
